<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Bcardreg</servlet-name>
    <servlet-class>bcard.Bcardreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bcardreg</servlet-name>
    <url-pattern>/servlet/Bcardreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Relation</servlet-name>
    <servlet-class>bcard.Relation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Relation</servlet-name>
    <url-pattern>/servlet/Relation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Blood</servlet-name>
    <servlet-class>bcard.Blood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blood</servlet-name>
    <url-pattern>/servlet/Blood</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Property</servlet-name>
    <servlet-class>bcard.Property</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Property</servlet-name>
    <url-pattern>/servlet/Property</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gold</servlet-name>
    <servlet-class>bcard.Gold</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gold</servlet-name>
    <url-pattern>/servlet/Gold</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/servlet/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bankup</servlet-name>
    <servlet-class>bank.Bankup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bankup</servlet-name>
    <url-pattern>/servlet/Bankup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tran</servlet-name>
    <servlet-class>bank.Tran</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tran</servlet-name>
    <url-pattern>/servlet/Tran</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Loan</servlet-name>
    <servlet-class>loan.Loan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loan</servlet-name>
    <url-pattern>/servlet/Loan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Poor</servlet-name>
    <servlet-class>Poor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Poor</servlet-name>
    <url-pattern>/servlet/Poor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dueupdate</servlet-name>
    <servlet-class>loan.Dueupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dueupdate</servlet-name>
    <url-pattern>/servlet/Dueupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bcardlogin</servlet-name>
    <servlet-class>bcard.Bcardlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bcardlogin</servlet-name>
    <url-pattern>/servlet/Bcardlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Agentreg</servlet-name>
    <servlet-class>credit.Agentreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agentreg</servlet-name>
    <url-pattern>/servlet/Agentreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Creditlogin</servlet-name>
    <servlet-class>credit.Creditlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Creditlogin</servlet-name>
    <url-pattern>/servlet/Creditlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Validation</servlet-name>
    <servlet-class>credit.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/servlet/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Creditreg</servlet-name>
    <servlet-class>credit.Creditreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Creditreg</servlet-name>
    <url-pattern>/servlet/Creditreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>credit</display-name>
    <servlet-name>credit</servlet-name>
    <jsp-file>/credit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>credit</servlet-name>
    <url-pattern>/credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>report</display-name>
    <servlet-name>report</servlet-name>
    <jsp-file>/report.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donate</display-name>
    <servlet-name>donate</servlet-name>
    <jsp-file>/donate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>donate</servlet-name>
    <url-pattern>/donate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New</display-name>
    <servlet-name>New</servlet-name>
    <jsp-file>/New.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>New</servlet-name>
    <url-pattern>/New</url-pattern>
  </servlet-mapping>
  
</web-app>